
body{
    overflow-x: hidden;
}

.logo img{
    height: 65px;
width: 320px;
left: 40px;
top: 69px;
border-radius: nullpx;

}
.NavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sbar{
    width: 550px;
    border-radius: 50px;
    height: 50px;
    outline: none;
    border: 2px solid #d9d9d9;
    text-align: left;
    padding-left: 10px;
}
.sbar:hover{
    box-shadow: 0px 0px 8px #0c70505e;
}
.Ellipse{
    position:absolute;
    width: 1500px;
    
    height: 1595px;
    left: 300px;
    top: -808px;
    z-index: -1;
    background: rgba(23, 194, 139, 0.1);
    /* border: 1px solid #000000; */
    overflow-x: hidden;
    overflow-x:hidden;
    box-sizing: border-box;
    border-radius: 100%;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
div.xhidden{
    overflow-x: hidden;
}
.Ethics{
    
position: absolute;
width: 400px;
height: 171px;
left: 20px;
top: 900px;
}

.Ethics img{
    width: 370%;
}


.navigation{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 849px;
    height: 47px;
    left: calc(50% - 849px/2 + 12.5px);
    top: 130px;
    justify-content: space-between;
    

}

.navitems{
    position: static;
left: 0%;
right: 84.69%;
top: 0%;
bottom: 0%;

font-family: Roboto Mono;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;

color: #17C28B;

}

.ease{
    position: absolute;
width: 300px;
height: 150px;
left: 15%;
top: 300px;
overflow: none; 
font-weight: 600;
font-size: 62px;
line-height: 117px;
font-family: 'Montserrat', sans-serif;
color: #444444;
   
}

.available{
    position: absolute;
width: 300px;
height: 300px;
left: 15%;
top: 550px;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
font-size: 31px;
line-height: 59px;
color: #444444;

}

.delivery{
    position: absolute;
left: 60%;
top: 300px;


}

.delivery img{
    height: 80%;
    width: 80%;
}

.footer-container{
    
    background-color: #E7F5F4;
    padding-bottom: 14rem;
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
    position:absolute;
    top:1200px;
    height:325px;
    width: 100%;
    
}

.footer{
    width: 80%;
    height: 40vh;
    background-color:#E7F5F4;
    color:#000000;
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin: 0px auto;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;

}

.footer-division{
    display: flex;
    flex-direction: column;
    margin: 4em;
}

.footer-division h2{
    margin-bottom: 1em;
}

.footer-division a{
    color:black;
    text-decoration: none;
    margin-bottom: 0.8em;

}

.footer-division a:hover{
    color:#0D9E70;
    transition: 0.3s ease-out;
}
















button {
    padding: 1em 1em;
    /* color: #17C28B; */
    background-color: rgba(23, 194, 139, 0.009);
    border: none;
    z-index: -1;
   
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    box-shadow: none;
    
    color: #17C28B;
    
   }
   
   button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
    border-radius: 5%;
   }
   
   button:active {
    transform: translateY(-1px);
   }
